@model IEnumerable<EPrescription.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.companyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyLicence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyLicence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.companyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.companyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.companyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
